<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新增户口页</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <script src="javascripts/jquery-1.11.1.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <style type="text/css">

        .navbar-form {
            padding-top: 90px;
        }

        #mypanel {
            padding-left: 350px;
            padding-top: 120px;
            padding-right: 400px;
        }
    </style>
</head>
<body>
<!--<div class="col-lg-7">-->
    <!--<form class="navbar-form navbar-right" role="search">-->
        <!--<div class="form-group">-->
            <!--<input type="text" class="form-control" placeholder="输入父亲身份证号" id="select">-->
        <!--</div>-->
        <!--<button type="button" class="btn btn-default" id="select_btn">查询</button>-->
    <!--</form>-->

<!--</div>-->
<!-- 返回用户自己户口信息 -->

<div id="mypanel">
    <div class="panel panel-primary">
        <div class="panel-heading">审核结果</div>
        <div class="panel-body">
            <ul>

                <li>审查编号：</li>
                <li>父亲姓名:&nbsp;<span class="glyphicon glyphicon-ok"></span></li>
                <li>父亲身份证号码:&nbsp;<span class="glyphicon glyphicon-ok"></span></li>
                <li>母亲姓名:&nbsp;<span class="glyphicon glyphicon-ok"></span></li>
                <li>母亲身份证号码：&nbsp;<span class="glyphicon glyphicon-ok"></span></li>
                <li>父母结婚证书编号：&nbsp;<span class="glyphicon glyphicon-ok"></span></li>
                <li >出生证书编号：&nbsp;<span class="glyphicon glyphicon-ok"></span></li>
                <li>出生日期：&nbsp;<span class="glyphicon glyphicon-ok"></span></li>
                <li>性别：&nbsp;<span class="glyphicon glyphicon-ok"></span></li>
                <li>接生机构：&nbsp;<span class="glyphicon glyphicon-ok"></span></li>

                <li>审查编号：100</li>
                <li>父亲姓名:李雷雷<span class="glyphicon glyphicon-ok"></span></li>
                <li>父亲身份证号码:11111111111<span class="glyphicon glyphicon-ok"></span></li>
                <li>母亲姓名:张三<span class="glyphicon glyphicon-ok"></span></li>
                <li>母亲身份证号码：222222222<span class="glyphicon glyphicon-ok"></span></li>
                <li>父母结婚证书编号：3333333<span class="glyphicon glyphicon-ok"></span></li>
                <li >出生证书编号：<span class="glyphicon glyphicon-ok"></span></li>
                <li>出生日期：2017.5.27<span class="glyphicon glyphicon-ok"></span></li>
                <li>性别：女<span class="glyphicon glyphicon-ok"></span></li>
                <li>接生机构：中心医院<span class="glyphicon glyphicon-ok"></span></li>


            </ul>
        </div>

    </div>
</div>

<form role = "form" class="form-horizontal">
    <div class="form-group">
        <div class="col-lg-4 col-lg-offset-5">
            <button  type = "button" class="btn-info btn-lg" id="btn_submit1">接受</button>
            <button  type = "button" class="btn-info btn-lg" id="btn_submit2">拒绝</button>


    </div>
        <!--<div class="form-group" style="margin-left: 460px;">-->
            <!--<div class="col-lg-4">-->
                <!--<button type = "button" class="btn-info btn-lg" id="btn_submit">拒绝</button>-->
            <!--</div>-->
            <!--<div class="col-lg-4">-->
                <!--<button type = "button" class="btn-info btn-lg" id="btn_submit">接受</button>-->
            <!--</div>-->

        <!--</div>-->
</form>
    <!--</div>-->
<!--</form>-->
</body>
</html>