<!DOCTYPE html>
<html>
<head>
	<title>新生儿登记</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="stylesheets/bootstrap.min.css">
	<script src="javascripts/jquery-1.11.1.min.js"></script>
	<script src="javascripts/bootstrap.min.js"></script>
	<script src="javascripts/page_switch.js"></script>
<style type="text/css">
.form-horizontal{
	padding-top: 10px;
}
/*#aa{*/
	/*position:absolute;*/
    /*left:0px;*/
    /*top:0px;*/
    /*bottom: 0px;*/
    /*z-index:-1;*/
/*}*/
</style>
</head>
<body>
	<!--<img id="aa" src="images\20.jpg" width="100%" height="100%">-->

<form role = "form" class="form-horizontal">
	    <div class="myform">
	        <div class = "form-group">
	            <label class="col-lg-5 control-label" for = "name">新生儿姓名</label>
	            <div class="col-lg-3">
	                <input type = "text" class = "form-control" id = "name"
	                    placeholder = ""/>
	            </div>

	        </div>
			<div class = "form-group"/>
				<label class="col-lg-5 control-label" for = "weight">新生儿体重</label>
				<div class="col-lg-3">
					<input type="text" class="form-control" id = "weight"
						   placeholder = ""/>
				</div>
			</div>
			<div class = "form-group">

				<label class="col-lg-5 control-label" for = "sex">新生儿性别</label>
				<div class="col-lg-3">
					<input type="text" class="form-control" id = "sex"
						   placeholder = ""/>
				</div>
			</div>
			<div class = "form-group">
	            <label class="col-lg-5 control-label" for = "date">出生日期</label>
	            <div class="col-lg-3">
	                <input type="text" class="form-control" id = "date"
	                        placeholder = ""/>
	            </div>

	        </div>
			<div class = "form-group">
				<label class="col-lg-5 control-label" for = "place">出生地</label>
				<div class="col-lg-3">
					<input type="text" class="form-control" id = "place"
						   placeholder = ""/>
				</div>
			</div>
	        <div class = "form-group">
	            <label class="col-lg-5 control-label" for = "mother_name">母亲姓名</label>
	            <div class="col-lg-3">
	                <input type="text" class="form-control" id = "mother_name"
	                        placeholder = ""/>
	            </div>

	        </div>
			<div class = "form-group">
				<label class="col-lg-5  control-label" for = "mother_age">年龄</label>
				<div class="col-lg-3 col-sm-3" >
					<input type="text" class="form-control" id = "mother_age"
						   placeholder = ""/>
				</div>
			</div>
			<div class = "form-group">
	            <label class="col-lg-5 col-sm-3 control-label" for = "mother_ID">母亲身份证号</label>
	            <div class="col-lg-3 col-sm-3" >
	                <input type="text" class="form-control" id = "mother_ID"
	                        placeholder = ""/>
	            </div>
	        </div>
	         <div class = "form-group">
	            <label class="col-lg-5 control-label" for = "father_name">父亲姓名</label>
	            <div class="col-lg-3">
	                <input type="text" class="form-control" id = "father_name"
	                        placeholder = ""/>
	            </div>

	        </div>
			<div class = "form-group">
				<label class="col-lg-5 col-sm-3 control-label" for = "father_age">年龄</label>
				<div class="col-lg-3 col-sm-3" >
					<input type="text" class="form-control" id = "father_age"
						   placeholder = ""/>
				</div>
			</div>
			<div class = "form-group">
	            <label class="col-lg-5 col-sm-3 control-label" for = "father_ID">父亲身份证号</label>
	            <div class="col-lg-3 col-sm-3" >
	                <input type="text" class="form-control" id = "father_ID"
	                        placeholder = ""/>
	            </div>
	        </div>
	        <div class = "form-group">
	            <label class="col-lg-5 col-sm-3 control-label" for = "health">健康情况</label>
	            <div class="col-lg-3 col-sm-3" >
	                <input type="text" class="form-control" id = "health"
	                        placeholder = ""/>
	            </div>
	        </div>
	        <div class = "form-group">
	            <label class="col-lg-5 control-label" for = "hospital_name">接生机构名称</label>
	            <div class="col-lg-3">
	                <input type="text" class="form-control" id = "hospital_name"
	                        placeholder = ""/>
	            </div>
	        </div>
	        <div class="form-group">
	            <div class="col-lg-4 col-lg-offset-6">
	                <button type = "button" class="btn-info btn-lg" id="btn_submit">提交</button>
	            </div>

	        </div>
	      </div>
	 	 </form>
</body>
<script>
        $("#btn_submit").click(function () {

            //get infomation

            var data = {};
            data.child_sex = $("#sex").val();
            data.child_date = $("#date").val();
            data.mother_ID = $("#mother_ID").val();
            data.father_ID = $("#father_ID").val();
            data.hospital = $("#hospital_name").val();

            $.ajax({
                url: 'child_register',
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(data),
                success: function (data) {
                   alert(data)
                }
            });
        });
</script>
</html>