<!DOCTYPE html>
<html>
<head>
    <title>婚姻信息查看</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <script src="javascripts/jquery-1.11.1.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <!--<script src="javascripts/page_switch.js"></script>-->

    <style type="text/css">

        .navbar-form {
            padding-top: 90px;
        }

        #mypanel {
            padding-left: 400px;
            padding-top: 200px;
            padding-right: 400px;
        }
    </style>
</head>
<body>

<div class="col-lg-7">
    <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="要查找人的身份证号" id="select">
        </div>
        <button type="button" class="btn btn-default btn-info" id="select_btn">查询</button>
    </form>

</div>
<!-- 返回用户自己户口信息 -->

<div id="mypanel">
    <div class="panel panel-primary">
        <div class="panel-heading">婚姻信息</div>
        <div class="panel-body">
            <ul>
                <li id="r_name">姓名:</li>
                <li id="r_id">身份证号码：</li>
                <li id="r_sex">性别：</li>
                <li id="r_state">婚姻状态：</li>
                <li id ="r_sname">配偶姓名:</li>
                <li id ="r_sid">配偶身份证号码：</li>
            </ul>
        </div>
        </div>
        <!--<div><table id="table"></table></div>-->

        <!--<div class="panel-footer" style="text-align: center;">户口信息</div>-->
    </div>
</div>
<div class="form-group" style="margin-top: 50px;margin-left: 220px;">
    <div class="col-lg-2 col-lg-offset-4">
        <button type="button" class="btn-info btn" id="back">返回</button>
    </div>
</div>
</body>
<script>
    $("#select_btn").click(function () {
        // language=JQuery-CSS
        var data = {};
        data.select_id = $("#select").val();
        if (data.select_id === "") {
            alert("请输入身份证号码");
        } else {
            $.ajax({
                url: '/civil_query',
                type: "POST",
                timeout : 10000,
                contentType: "application/json",
                data: JSON.stringify(data),
                success: function (data) {
                    $("#r_name").text('姓名:'+data.name);
                    $("#r_id").text('身份证号码：'+data.id);
                    $("#r_sex").text('性别：'+data.sex);
                    $("#r_state").text('婚姻状态：'+data.marrystate);
                    $("#r_sname").text('配偶姓名：'+data.spousename);
                    $("#r_sid").text('配偶身份证号：'+data.spouseid);
                }
            });
        }
    });
</script>
<script type="text/javascript">
    $("#back").click(function () {
        window.location.href = "civil_affairs";
    });
</script>


</html>