<!DOCTYPE html>
<html lang="en">
<head>
    <title>新生儿指纹采集</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <script src="javascripts/jquery-1.11.1.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <style>
        #aa{
            max-height: 300px;
            max-height: 400px;
            padding-left: 400px;
        }
    </style>
</head>
<body>
    <img id="aa" src="images\fingerprint.png" >
    <div class="col-lg-4 col-lg-offset-5">
        <button type = "button" class="btn-info btn-lg" id="btn_submit1">提交</button>
    </div>
</body>
</html>