<!DOCTYPE html>
<html>
<head>
	<title>医院首页</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <script src="javascripts/jquery-1.11.1.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="javascripts/page_switch.js"></script>
    <style>
    #myCarousel
    {
        position:absolute;
        left:170px;
        top:140px;
        padding-left: 15%;
    }

    .container{
        float: left;
        margin-top: 100px;
        margin-left:60px;
        width: 70%;
        height: auto;
    }
    #mynav{
        margin-top: 70px;
        float: left;
    }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
            <!-- 自适应隐藏导航展开按钮 -->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- 导航条LOGO -->
            <a class="navbar-brand" href="#" style="color:#FFFFFF">医院信息系统</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav">
                <li class="active"><a href="#">首页</a></li>
                <li ><a a href="#">医院简介</a></li>
                <li ><a a href="#">就诊指南</a></li>
                <li><a href="#">专家介绍</a></li>
                <li><a href="#">专科介绍</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">更多服务<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">患者电子病历查询入口</a></li>

                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <!-- 左侧边栏 -->
    <div class="col-lg-2 col-sm-2 col-xs-6" id="mynav">
        <ul class="nav nav-pills nav-stacked">

            <li class="active"><a href="#"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;&nbsp;首页</a></li>
            <li class="nav-divider"></li>
            <li><a href="#lead"><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;&nbsp;导航</a></li>
            <li class="nav-divider"></li>
            <li onclick="switch_to_hospital_query()"><a href="#"><span class="glyphicon glyphicon-tags"></span>&nbsp;&nbsp;审核父母信息</a></li>
            <li class="nav-divider"></li>
            <li onclick="switch_to_childregister()"><a href="#"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;新生儿信息登记  </a></li>

            <li class="nav-divider"></li>
            <li onclick="switch_to_patient_expense()"><a href="#" ><span class="glyphicon glyphicon-th"></span>&nbsp;&nbsp;患者费用报销结算&nbsp;&nbsp;</a></li>
            <li class="nav-divider"></li>
            <li onclick="switch_to_fingerprinter_register()"><a href="#" ><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;新生儿指纹采集&nbsp;&nbsp; </a></li>
            <li class="nav-divider"></li>
            <li><a href="#" ><span class="glyphicon glyphicon-th-large"></span>&nbsp;&nbsp;成功案例&nbsp;&nbsp;</a></li>
        </ul>
    </div>

    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">操作导航</div>
            <div class="panel-body">

                <h3 class="title">1.新生儿信息登记须知</h3>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;只需提供父母双方中任何一人的身份证信息便在此系统中进行新生儿信息登记</p>
                <h3 class="title">2.患者费用报销须知</h3>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;需要患者提供自己的社保卡或者刷指纹进行报销结算</p>
                <h3 class="title">3.新生儿指纹录入</h3>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;新生儿出生便可由医务人员采集指纹信息录入医院系统</p>
                <h3 class="title">4.审核查看出生证明申请资格</h3>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;只需提供夫妻双方中任何一人的身份证信息便可在系统中让工作人员查询到个人户口信息，审核是否符合生育标准</p>

            </div>
            <div class="panel-footer"></div>
        </div>
    </div>
    <!--<div id="myCarousel" class="carousel slide ">-->
      <!--&lt;!&ndash; 轮播（Carousel）指标 &ndash;&gt;-->
      <!--<ol class="carousel-indicators">-->
        <!--<li data-target="#myCarousel" data-slide-to="0" class="active"></li>-->
        <!--<li data-target="#myCarousel" data-slide-to="1"></li>-->

      <!--</ol>-->
      <!--&lt;!&ndash; 轮播（Carousel）项目 &ndash;&gt;-->
      <!--<div class="carousel-inner">-->
        <!--<div class="item active">-->
          <!--<img src="images\17.jpg" alt="First slide" width="100%">-->
        <!--</div>-->
        <!--<div class="item">-->
          <!--<img src="images\26.jpg" alt="Second slide" width="100%">-->
        <!--</div>-->

      <!--</div>-->
    <!--</div>-->

</body>

</html>