<!DOCTYPE html>
<html>
<head>
    <title>父母信息审核</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <script src="javascripts/jquery-1.11.1.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <!--<script src="javascripts/page_switch.js"></script>-->

    <style type="text/css">

        .navbar-form {
            padding-top: 14px;
        }
        .form-horizontal{
            padding-top: 260px;
        }
        #mypanel{
            margin-top: 60px;
            padding-left: 60px;
            width:500px;
            float:left;
        }
        #mypanel1{
            margin-top:60px;
           margin-left:60px;
            width:500px;
            float:left;
        }

    </style>
</head>
<body>

<div id="mypanel">
    <form class="navbar-form " role="search">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="父亲的身份证号" id="select">
        </div>
        <button type="button" class="btn btn-default btn-info" id="select_btn">查询</button>
    </form>
    <div class="panel panel-primary">
        <div class="panel-heading">男方</div>
        <div class="panel-body">
            <ul>
                <li id="r_name">姓名:</li>
                <li id="r_id">身份证号码：</li>
                <li id="r_state">婚姻状态：</li>
                <li id="r_sname">配偶姓名:</li>
                <li id="r_sid">配偶身份证号码：</li>
                <li id="r_snum">子女个数：</li>
                <li id="r_s">是否符合生育标准：</li>
            </ul>
        </div>

    </div>
</div>
<div id="mypanel1">
    <form class="navbar-form " role="search" >
        <div class="form-group">
            <input type="text" class="form-control" placeholder="母亲的身份证号" id="select1">
        </div>
        <button type="button" class="btn btn-default btn-info" id="select_btn1">查询</button>
    </form>
    <div class="panel panel-primary">
        <div class="panel-heading">女方</div>
            <div class="panel-body">
                <ul>
                    <li id="r_name1">姓名:</li>
                    <li id="r_id1">身份证号码：</li>
                    <li id="r_state1">婚姻状态：</li>
                    <li id="r_sname1">配偶姓名:</li>
                    <li id="r_sid1">配偶身份证号码：</li>
                    <li id="r_snum1">子女个数：</li>
                    <li id="r_s1">是否符合生育标准：</li>
                </ul>
            </div>

    </div>
</div>
<form role = "form" class="form-horizontal">
    <div class="form-group">
        <div class="col-lg-4 col-lg-offset-4">
            <button  type = "button" class="btn-info btn" id="btn_submit1">接受登记</button>
            <button  type = "button" class="btn-info btn" id="btn_submit2">拒绝登记</button>
        </div>

    </div>
</form>
</body>
<script>
    $("#select_btn").click(function () {
        // language=JQuery-CSS
        var data = {};
        data.select_id = $("#select").val();
        if (data.select_id === "") {
            alert("请输入身份证号码");
        } else {
            $.ajax({
                url: '/user_query',
                type: "POST",
                timeout : 10000,
                contentType: "application/json",
                data: JSON.stringify(data),
                success: function (data) {
                    $("#r_name").append(data.name);
                    $("#r_id").append(data.id);
                    if(data.spousename === ""){
                        $("#r_state").append("未婚");
                        $("#r_sname").append("无");
                    }else{
                        $("#r_state").append("已婚");
                        $("#r_sname").append(data.spousename);
                        $("#r_sid").append(data.spouseid);
                        if(data.childid[0] < 2){
                            $("#r_snum").append(data.childid[0]);
                            $("#r_s").append("符合");
                        }else{
                            $("#r_snum").append(data.childid[0]);
                            $("#r_s").append("不符合");
                        }
                    }

                }
            });
        }
    });
</script>
<script type="text/javascript">
    $("#btn_submit1").click(function () {
        window.location.href = "child_register";
    });
    $("#btn_submit2").click(function () {
        window.location.href = "hospital";
    });
</script>

</html>