<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>居民信息维护</title>
  <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
  <script src="javascripts/jquery-1.11.1.min.js"></script>
  <script src="javascripts/bootstrap.min.js"></script>
  <style type="text/css">

    .myform {
      margin-top: 20px;
      margin-left: 400px;
    }


  </style>
</head>
<body>

<!-- 提交身份证信息 -->
<div class="panel panel-primary">
  <div class="panel-heading">居民信息维护</div>
  <div class="panel-body">
    <form role="form" class="form-horizontal">
      <div class="myform">
        <div class="form-group">
          <label class="col-lg-2 control-label">原地址</label>
          <!--<div class="col-lg-3">-->
            <!--<input type="text" class="form-control" id="name"/>-->
          <!--</div>-->
        </div>

        <div class="form-group">
          <label class="col-lg-2 control-label" for="newaddress">修改地址</label>
          <div class="col-lg-3">
            <input type="text" class="form-control" id="newaddress"/>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-2 control-label">原电话号码</label>
          <!--<div class="col-lg-3">-->
            <!--<input type="text" class="form-control" id="name"/>-->
          <!--</div>-->
        </div>
        <div class="form-group">
          <label class="col-lg-2 control-label" for="newnum">修改电话号码</label>
          <div class="col-lg-3">
            <input type="text" class="form-control" id="newnum"/>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-2 control-label" for="reason">修改理由</label>
          <div class="col-lg-3">
            <input type="text" class="form-control" id="reason"/>
          </div>
        </div>

        <div class="form-group" style="margin-right: 300px;">
          <div class="col-lg-2 col-lg-offset-2">
            <button type="button" class="btn-info btn-lg" id="send">提交</button>
          </div>
          <div class="col-lg-2 col-lg-offset-2">
            <button type="button" class="btn-info btn-lg" id="back">返回</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="panel-footer"></div>
</div>
</body>

<script type="text/javascript">
  $("#back").click(function () {
    window.location.href = "user";
  });
</script>

</html>