<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <script src="javascripts/jquery-1.11.1.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <style type="text/css">

        .myform{
            margin-top:20px;
            margin-left: 400px;
        }


    </style>
</head>
<body>

<!-- 提交身份证信息 -->
<div class="panel panel-primary">
    <div class="panel-heading">居民结婚申请</div>
    <div class="panel-body">
        <form role = "form" class="form-horizontal">
            <div class="myform">
                <div class = "form-group">
                    <label class="col-lg-2 control-label" for = "mannum">男方身份证号码</label>
                    <div class="col-lg-3">
                        <input type="text" class="form-control" id = "mannum"
                               placeholder = "输入男方身份证号码"/>
                    </div>
                </div>
                <div class = "form-group">
                    <label class="col-lg-2 control-label" for = "womannum">女方身份证号码</label>
                    <div class="col-lg-3">
                        <input type="text" class="form-control" id = "womannum"
                               placeholder = "输入女方身份证号码"/>
                    </div>
                </div>
                <div class = "form-group">
                    <label class="col-lg-2 control-label" for = "time">结婚时间</label>
                    <div class="col-lg-3">
                        <input type="text" class="form-control" id = "time"
                               placeholder = "输入日期"/>
                    </div>
                </div>
                <div class = "form-group">
                    <label class="col-lg-2 control-label" for = "marryphoto">上传结婚照片</label>
                    <div class="col-lg-3">
                        <input type="file" id = "marryphoto"
                               placeholder = "请上传照片"/>
                    </div>
                </div>

                <div class="form-group" style="margin-right: 300px;">
                    <div class="col-lg-2 col-lg-offset-2">
                        <button type = "button" class="btn-info btn-lg" id="send">申请</button>
                    </div>
                    <div class="col-lg-2 col-lg-offset-2">
                        <button type = "submit" class="btn-info btn-lg" id="back" onclick="javascript:history.back(-1);">返回</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="panel-footer"></div>
</div>

</body>

</html>