<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>结婚审批</title>

  <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
  <script src="javascripts/jquery-1.11.1.min.js"></script>
  <script src="javascripts/bootstrap.min.js"></script>
  <script src="javascripts/page_switch.js"></script>

</head>
<body>

<h1></h1>

<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <div class="panel panel-primary">
        <div class="panel-heading">男方</div>
        <div class="panel-body">
          <ul>
            <li><img src="data:image/png;base64,<%= human_detail.husband_photo %>" style="height:250px;"></li>
            <li id="r_name">男方姓名：<%= human_detail.husband_name %>&nbsp;</li>
            <li id="r_id">男方身份证号码：<%= human_detail.husband_id %>&nbsp;</li>
            <li id="r_state">男方婚姻状态：<%= human_detail.husband_state %>&nbsp;</span></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="panel panel-primary">
        <div class="panel-heading">结婚证照片</div>
        <div class="panel-body">
          <img src="data:image/png;base64,<%= human_detail.marry_photo %>" style="width:250px;">
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="panel panel-primary">
        <div class="panel-heading">女方</div>
        <div class="panel-body">
          <ul>
            <li><img src="data:image/png;base64,<%= human_detail.wife_photo %>" style="height:250px;"></li>
            <li id="r_name1">女方姓名：<%= human_detail.wife_name %>&nbsp;</li>
            <li id="r_id1">女方身份证号码：<%= human_detail.wife_id %>&nbsp;</li>
            <li id="r_state1">女方婚姻状态：<%= human_detail.wife_state %>&nbsp;</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <!--判断-->
    <div class="col-lg-4">
      <p>身份证照片是否和结婚证照片一致：&nbsp;<span class="glyphicon glyphicon-ok"></span></p>
      <p>是否是未婚状态：&nbsp;<span id="judgeManStatus" class="glyphicon glyphicon-ok"></span></p>
      <p>是否达到法定结婚年龄：&nbsp;<span id="judgeManAge" class="glyphicon glyphicon-ok"></span></p>
    </div>


    <!--判断-->
    <div class="col-lg-4 col-lg-offset-4">
      <p>身份证照片是否和结婚证照片一致：&nbsp;<span class="glyphicon glyphicon-ok"></span></p>
      <p>是否是未婚状态：&nbsp;<span id="judgeWomanStatus" class="glyphicon glyphicon-ok"></span></p>
      <p>是否达到法定结婚年龄：&nbsp;<span id="judgeWomanAge" class="glyphicon glyphicon-ok"></span></p>
    </div>
  </div>

  <form role="form" class="form-horizontal">
    <div class="myform">
      <div class="form-group">
        <label class="col-lg-5 control-label" for="date">结婚日期</label>
        <div class="col-lg-3">
          <input type="text" class="form-control" id="date"
                 placeholder="yyyymmdd"/>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-4 col-lg-offset-5">
        <button type="button" class="btn-info btn" id="btn_accept">接受提交</button>
        <button type="button" class="btn-info btn" id="btn_deny">拒绝登记</button>
      </div>
    </div>
  </form>
</div>
</body>

<script>

  $(document).ready(function () {
    var checkflag = "<%= human_detail.checkflag %>";
    if (checkflag.charAt(2) === "1") {
      $("#judgeManStatus").attr("class", "glyphicon glyphicon-ok");
    }
    else {
      $("#judgeManStatus").attr("class", "glyphicon glyphicon-remove");
    }

    if (checkflag.charAt(5) === "1") {
      $("#judgeWomanStatus").attr("class", "glyphicon glyphicon-ok");
    }
    else {
      $("#judgeWomanStatus").attr("class", "glyphicon glyphicon-remove");
    }


  });

  $('#btn_accept').click(function () {
    var data = {};
    data.regist_num = "<%= regist_num %>";
    data.flag = "1";
    data.date = $("#date").val();
    data.photo = "<%= human_detail.marry_photo %>";
    $.ajax({
      url: 'marry_register',
      type: "POST",
      contentType: "application/json",
      data: JSON.stringify(data),
      success: function (answer) {
        if (answer.status === "OK") {
          window.location.href = "print_marry_cert_new?cert_id=" + answer.detail.marry_cert;
        }
        else {
          alert("拒绝审批！原因：" + answer);
        }
      }
    });
  });

  $('#btn_deny').click(function () {
    var data = {};
    data.regist_num = "<%= regist_num %>";
    data.flag = "0";
    data.date = $("#date").val();
    $.ajax({
      url: 'marry_register',
      type: "POST",
      contentType: "application/json",
      data: JSON.stringify(data),
      success: function (data) {
        alert("审批完成");
      }
    });
  })
</script>
</html>