<!DOCTYPE html>
<html>
<head>
	<title>婚姻登记</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="stylesheets/bootstrap.min.css">
	<script src="javascripts/jquery-1.11.1.min.js"></script>
	<script src="javascripts/bootstrap.min.js"></script>
	<script src="javascripts/page_switch.js"></script>
<style type="text/css">
.form-horizontal{
	padding-top: 130px;
}
#aa{
	position:absolute;
    left:0px;
    top:0px;
    z-index:-1;
}
.form-group{
	color: #E6E6F2;
}
</style>
</head>
<body>
	<img id="aa" src="images\22.jpg" width="100%" height="100%">

<form role = "form" class="form-horizontal"> 
	    <div class="myform"> 
	        <div class = "form-group">  
	            <label class="col-lg-7 control-label" for = "name1">姓名</label>  
	            <div class="col-lg-3">  
	                <input type = "text" class = "form-control" id = "name1"    
	                    placeholder = ""></input>  
	            </div>  
	        </div>  
	        <div class = "form-group">  
	            <label class="col-lg-7 control-label" for = "num1">身份证号</label>  
	            <div class="col-lg-3">  
	                <input type="text" class="form-control" id = "num1"   
	                        placeholder = ""></input>  
	            </div>  
	        </div> 
	        <div class = "form-group">  
	            <label class="col-lg-7 control-label" for = "name2">另一半姓名</label>  
	            <div class="col-lg-3">  
	                <input type="text" class="form-control" id = "name2"   
	                        placeholder = ""></input>  
	            </div>  
	        </div> 
	        <div class = "form-group">  
	            <label class="col-lg-7 control-label" for = "num2">另一半身份证号</label>  
	            <div class="col-lg-3">  
	                <input type="text" class="form-control" id = "num2"   
	                        placeholder = ""></input>  
	            </div>  
	        </div> 
	         <div class = "form-group">  
	            <label class="col-lg-7 control-label" for = "status">婚姻状态</label>  
	            <div class="col-lg-3">  
	                <input type="text" class="form-control " id = "status"   
	                        placeholder = ""></input>  
	            </div>  
	        </div>  
	        
	        <div class = "form-group">  
	            <label class="col-lg-7 col-sm-3 control-label" for = "children">子女情况</label>  
	            <div class="col-lg-3 col-sm-3" >  
	                <input type="text" class="form-control" id = "children"   
	                        placeholder = ""></input>  
	            </div>  
	        </div> 
	        <div class="form-group">  
	            <div class="col-lg-4 col-lg-offset-8">  
	                <button type = "submit" class="btn-info btn-lg" onclick="alert('登记成功！')" >提交</button>  
	            </div>              
	        </div> 
	      </div>  
	 	 </form>  
</body>
</html>