<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>户口变更</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <script src="javascripts/jquery-1.11.1.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>

    <style>
        .form-horizontal{
            margin-top: 120px;
        }
    </style>
</head>

<body>
<form role = "form" class="form-horizontal">
    <!--<table id="table"></table>-->
    <div class="myform">

        <div class="form-group">
            <div class="col-lg-4 col-lg-offset-4">
                <select class="form-control">

                    <option>居民新地址</option>
                    <option>居民新手机号</option>
                </select>
            </div>
        </div>
        <div class = "form-group">
            <label class="col-lg-5 control-label" for = "info">最新的信息</label>
            <div class="col-lg-3">
                <input type = "text" class = "form-control" id = "info"
                       placeholder = ""/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-4 col-lg-offset-5">
                <button type = "button" class="btn-info btn" id="btn_submit">提交</button>
                <button type = "button" class="btn-info btn" id="btn_submit2">返回</button>
            </div>
        </div>
    </div>
</form>

</body>
<script type="text/javascript">

    $("#btn_submit2").click(function () {
        window.location.href = "police_office";
    });
</script>
</html>