<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>新生儿出生证</title>
  <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
  <script src="javascripts/jquery-1.11.1.min.js"></script>
  <script src="javascripts/bootstrap.min.js"></script>
</head>
<body>

<!-- 提交身份证信息 -->
<h3 style="text-align: center;">出生医学证明</h3>
<h5 style="text-align: center;">MODICAL CERTIFICATE OF BIRTH</h5>
<hr>
<div class="container-fluid" style="width: 1000px;">
  <table>
    <tr>
      <td class="col-lg-2"><h4>新生儿姓名:</h4><h5>Newcreate Name</h5></td>
      <td class="col-lg-3"><h4 style="margin-top: -15px;"><%= birth_detail.新生儿姓名 %></h4></td>
      <td class="col-lg-2"><h4>性别:</h4><h5>Gender</h5></td>
      <td class="col-lg-3"><h4 style="margin-top: -15px;"><%= birth_detail.性别 %></h4></td>
      <td class="col-lg-2"><h4>出生时间:</h4><h5>Time Of Birth</h5></td>
      <td class="col-lg-3"><h4 style="margin-top: -15px;"><%= birth_detail.出生日期 %></h4></td>
    </tr>
    <tr>
      <td class="col-lg-2"><h4>出生孕期:</h4><h5>Gestational weeks of birth</h5></td>
      <td class="col-lg-3"><h4 style="margin-top: -15px;">40周</h4></td>
      <td class="col-lg-2"><h4>出生体重：</h4><h5>Birth Weight</h5></td>
      <td class="col-lg-3"><h4 style="margin-top: -15px;"><%= birth_detail.体重 %>g</h4></td>
      <td class="col-lg-2"><h4>出生身长:</h4><h5>Birth Length</h5></td>
      <td class="col-lg-3"><h4 style="margin-top: -15px;">70cm</h4></td>
    </tr>
    <tr>
      <td class="col-lg-2"><h4>出生地点:</h4><h5>Birth Place</h5></td>
      <td class="col-lg-3"><h4 style="margin-top: -15px;"><%= birth_detail.出生地 %></h4>
      </td>
      <td class="col-lg-2"><h4>医疗机构:</h4><h5>Birth Length</h5></h4></td>
      <td class="col-lg-3"><h4 style="margin-top: -15px;"><%= birth_detail.接生机构 %></h4></td>
    </tr>
    <tr>
      <td class="col-lg-2"><h4>母亲姓名:</h4><h5>Mother Name</h5></td>
      <td class="col-lg-3"><h4 style="margin-top: -15px;"><%= birth_detail.母亲姓名 %></h4></td>
      <td class="col-lg-2"><h4>国籍:</h4><h5>Country</h5></td>
      <td class="col-lg-3"><h4 style="margin-top: -15px;">中国</h4></td>
      <td class="col-lg-2"><h4>住址:</h4><h5>Address</h5></td>
      <td class="col-lg-4"><h4 style="margin-top: -15px;">北京市xx区xx街道</h4></td>
    </tr>
    <tr>
      <td class="col-lg-2"><h4>母亲身份证号:</h4><h5>Mother Identity</h5></td>
      <td class="col-lg-3"><h4 style="margin-top: -15px;"><%= birth_detail.母亲身份证号 %></h4></td>
    </tr>
    <tr>
      <td class="col-lg-2"><h4>父亲姓名:</h4><h5>Mother Name</h5></td>
      <td class="col-lg-3"><h4 style="margin-top: -15px;"><%= birth_detail.父亲姓名 %></h4></td>
      <td class="col-lg-2"><h4>国籍:</h4><h5>Country</h5></td>
      <td class="col-lg-3"><h4 style="margin-top: -15px;">中国</h4></td>
      <td class="col-lg-2"><h4>住址:</h4><h5>Address</h5></td>
      <td class="col-lg-4"><h4 style="margin-top: -15px;">北京市xx区xx街道</h4></td>
    </tr>
    <tr>
      <td class="col-lg-2"><h4>父亲身份证号:</h4><h5>Mother Identity</h5></td>
      <td class="col-lg-3"><h4 style="margin-top: -15px;"><%= birth_detail.父亲身份证号 %></h4></td>
    </tr>

  </table>
</div>

</div>
<div class="form-group" style="margin-top: 50px;margin-left: 220px;">
  <div class="col-lg-2 col-lg-offset-2">
    <button type="button" class="btn-info btn-lg" id="send">打印</button>
  </div>
  <div class="col-lg-2 col-lg-offset-2">
    <button type="button" class="btn-info btn-lg" id="back">返回</button>
  </div>
</div>
</body>

<script type="text/javascript">
  $("#back").click(function () {
    window.location.href = "hospital";
  });
</script>

</html>