<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新办户口</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <script src="javascripts/jquery-1.11.1.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
</head>
<body>

<!-- 提交身份证信息 -->
<h3 style="text-align: center;">常住人口登记卡</h3>
<div class="container" style="width: 800px;border: 2px solid black;">
    <table class="table table-bordered">
        <tr>
            <td class="col-lg-3 text-center">姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名</td>
            <td class=" text-center"><%= hukou_detail.姓名 %></td>
            <td class=" text-center">户主或与户主关系</td>
            <td class=" text-center"></td>
        </tr>
        <tr>
            <td class="col-lg-3 text-center">曾&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;用&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名</td>
            <td class="col-lg-4 text-center"></td>
            <td class="col-lg-3 text-center">性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别</td>
            <td class="col-lg-4 text-center"><%= hukou_detail.性别 %></td>
        </tr>
        <tr>
            <td class="col-lg-3 text-center">出&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;生&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;地</td>
            <td class="col-lg-4 text-center">北京</td>
            <td class="col-lg-3 text-center">民&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;族</td>
            <td class="col-lg-4 text-center">汉</td>
        </tr>
        <tr>
            <td class="col-lg-3 text-center">籍&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;贯</td>
            <td class="col-lg-4 text-center">北京市</td>
            <td class="col-lg-3 text-center">出&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;生&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;日&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;期</td>
            <td class="col-lg-4 text-center"><%= hukou_detail.出生日期 %></td>
        </tr>
        <tr>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;本市（县）其他住址</td>
            <td colspan="2">无</td>
            <td>宗教信仰&nbsp;&nbsp;&nbsp;&nbsp;无</td>

        </tr>
        <tr>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;公民身份证件编号</td>
            <td><%= hukou_detail.身份证号 %></td>
            <td>身高</td>
            <td>血型</td>
        </tr>
        <tr>
            <td id="first">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;文&nbsp;&nbsp;化&nbsp;&nbsp;程&nbsp;&nbsp;度</td>
            <td></td>
            <td>婚姻状况&nbsp;&nbsp;&nbsp;&nbsp;<%= hukou_detail.婚姻状态 %></td>
            <td>兵役状况</td>
        </tr>
        <tr>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;服&nbsp;&nbsp;务&nbsp;&nbsp;处&nbsp;&nbsp;所</td>
            <td colspan="2"></td>
            <td>职业&nbsp;&nbsp;&nbsp;&nbsp;</td>

        </tr>
        <tr>
            <td>何时由何地迁来本市（县）</td>
            <td colspan="3"></td>

        </tr>
        <tr>
            <td>何时由何地迁来本址</td>
            <td colspan="3"></td>

        </tr>
    </table>
</div>
<div class="form-group" style="margin-top: 50px;margin-left: 220px;">
    <div class="col-lg-2 col-lg-offset-2">
        <button type="button" class="btn-info btn-lg" id="back">返回</button>
    </div>
</div>
</body>

<script type="text/javascript">
  $("#back").click(function () {
    window.location.href = "user";
  });
</script>

</html>