<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>打印新生儿社保卡</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <script src="javascripts/jquery-1.11.1.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
</head>
<body>

<!-- 提交身份证信息 -->
<div class="container" style="width: 600px;margin-top: 50px;border:1px solid black;">
    <table>
        <tr>中国工商银行</tr>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   四川省人力资源和社会保障厅
        <tr>

            <td class="col-lg-3 col-lg-offset-3"><h4 style="margin-top: 40px;">姓名</h4></td>
            <td class="col-lg-2"></td>
            <td>
                <div class="container"
                     style="width: 200px;height: 100px;border: 1px solid black;margin-top: 10px; margin-right: -160px;">
                    <form>


                    </form>
                </div>
            </td>
        </tr>
        <!--<tr>-->
            <!--<td class="col-lg-4"><h4>性别</h4></td>-->
            <!--<td class="col-lg-2"><h4>民族</h4></td>-->
            <!--<td class="col-lg-2"><h4>汉</h4></td>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<td class="col-lg-4"><h4>出生</h4></td>-->
            <!--<td class="col-lg-2"><h4>年</h4></td>-->
            <!--<td class="col-lg-2"><h4>月</h4></td>-->
            <!--<td class="col-lg-2"><h4>日</h4></td>-->


        <!--</tr>-->
        <!--<tr>-->
            <!--<td class="col-lg-4"><h4>住址</h4></td>-->
            <!--<td class="col-lg-2"></td>-->
        <!--</tr>-->
        <tr>
            <td class="col-lg-4"><h4>社会保障号码</h4></td>
            <td class="col-lg-2"></td>
        </tr>
        <tr>
            <td class="col-lg-4"><h4>社会保障卡号</h4></td>
            <td class="col-lg-2"></td>
        </tr>
        <tr>
            <td class="col-lg-4"><h4>发卡日期</h4></td>
            <td class="col-lg-2"></td>
        </tr>
    </table>

</div>

</div>
<div class="form-group" style="margin-top: 50px;margin-left: 220px;">

    <div class="col-lg-2 col-lg-offset-4">
        <button type="button" class="btn-info btn-lg" id="back">返回</button>
    </div>
</div>
</body>

<script type="text/javascript">
    $("#back").click(function () {
        window.location.href = "social_securityAdministration";
    });
</script>

</html>