<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>居民个人信息查询</title>
  <link rel="stylesheet" href="stylesheets/bootstrap.min.css"/>

  <script src="javascripts/jquery-1.11.1.min.js"></script>
  <script src="javascripts/bootstrap.min.js"></script>

  <style type="text/css">
    .myform {
      margin-top: 100px;
      margin-left: 400px;
    }
    #mypanel {
      display: none;
    }
  </style>

</head>
<body>
<div class="panel panel-primary">
  <div class="panel-heading">居民个人信息查询</div>
  <div class="panel-body">
    <form role="form" class="form-horizontal">
      <div class="myform">

        <div class="form-group">
          <label class="col-lg-2 control-label" for="num">身份证号码</label>
          <div class="col-lg-3">
            <input type="text" class="form-control" id="num"
                   placeholder="输入身份证号码"/>
          </div>
        </div>
        <div class="form-group" style="margin-left: 140px;">
          <div class="col-lg-2">
            <!-- 写死了，需要根据最后后台结果再改 -->
            <button type="button" class="btn-info btn-lg" id="mybutton">查询</button>
          </div>
          <div class="col-lg-2">
            <button type="button" class="btn-info btn-lg" id="back">返回
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="panel-footer"></div>
</div>

<!-- 返回用户自己户口信息 -->
<div id="mypanel">
  <div class="panel panel-primary">
    <div class="panel-heading">用户信息表</div>
    <div class="panel-body">
      <ul>
        <li id="name"></li>
        <li id="sex"></li>
        <li id="shen_fen_id"></li>
        <li id="date"></li>
        <li id="father_name"></li>
        <li id="father_id"></li>
        <li id="mother_name"></li>
        <li id="mother_id"></li>
        <li id="marry_state"></li>
        <li id="spouse_name"></li>
        <li id="spouse_id">：</li>
        <li id="marry_cert"></li>
        <li id="child_ids"></li>
        <li id="child_names"></li>
        <li id="new_chids"></li>
      </ul>
    </div>
    <div class="panel-footer" style="text-align: center;">户口信息</div>
  </div>
</div>

<script type="text/javascript">
  $("#mybutton").click(function (event) {
    var pnel = document.getElementById("mypanel");
    pnel.style.display = "block";
    event.preventDefault();
    var data={};
    data.num=$("#num").val();
      $.ajax({
          url: '/search',
          type: "POST",
          timeout : 10000,
          contentType: "application/json",
          data: JSON.stringify(data),
          success: function (str) {
              var shen_fen_id= str.身份证号;
              var sex=   str.性别;
              var name= str.姓名;
              var date=str.出生日期;
              var father_name=str.父亲姓名;
              var father_id=str.父亲身份证号;
              var mother_name=str.母亲姓名;
              var mother_id=str.母亲身份证号;
              var marry_state=str.婚姻状态;
              var spouse_name=str.配偶姓名;
              var spouse_id=  str.配偶身份证号;
              var marry_cert= str.结婚证书;
              var child_ids=str.子女身份证号;
              var child_names=str.子女姓名;
              var new_chids=str.子女出生证明;
              $("#name").text('姓名:'+name);
              $("#shen_fen_id").text('身份证号: '+shen_fen_id);
              $("#sex").text('性别: '+sex);
              $("#date").text('出生日期: '+date);
              $("#father_name").text('父亲姓名: '+father_name);
              $("#father_id").text('父亲身份证号: '+father_id);
              $("#mother_name").text('母亲姓名: '+mother_name);
              $("#mother_id").text('母亲身份证号: '+mother_id);
              $("#marry_state").text('婚姻状态: '+marry_state);
              $("#spouse_name").text('配偶姓名: '+spouse_name);
              $("#spouse_id").text('配偶身份证号: '+spouse_id);
              $("#marry_cert").text('结婚证书: '+marry_cert);
              $("#child_ids").text('子女身份证号: '+child_ids);
              $("#child_names").text('母亲身份证号: '+child_names);
              $("#new_chids").text('子女出生证明: '+new_chids);


          console.log("=========shen_fen_id=========");
          }
      });
  });
  $("#back").click(function () {
    window.location.href = "user";
  });

</script>

</body>
</html>