<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>新生儿社保卡申请</title>
  <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
  <script src="javascripts/jquery-1.11.1.min.js"></script>
  <script src="javascripts/bootstrap.min.js"></script>
  <style type="text/css">
    .myform {
      margin-top: 90px;
      margin-left: 400px;
    }

    #print {
      display: none;
    }
  </style>
</head>
<body>

<!-- 提交身份证信息 -->
<div class="panel panel-primary">
  <div class="panel-heading">新生儿社保卡申请</div>
  <div class="panel-body">
    <form role="form" class="form-horizontal" method="post" enctype="multipart/form-data">
      <div class="myform">
        <div class="form-group">
          <label class="col-lg-2 control-label" for="fanum1">新生儿身份证号码</label>
          <div class="col-lg-3">
            <input type="text" class="form-control" id="fanum1"
                   placeholder="输入新生儿身份证号码"/>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-2 control-label" for="babyphoto1">上传新生儿照片</label>
          <div class="col-lg-3">
            <input type="file" id="babyphoto1"/>
          </div>
        </div>
        <!--<div class="form-group">-->
        <!--<label class="col-lg-2 control-label" for="print" style="margin-top: 60px;">上传指纹</label>-->
        <!--<div class="col-lg-2">-->
        <!--<img src="images/fingerprint.png" class="img-circle" id="print" style="width: 100%;">-->
        <!--</div>-->
        <!--</div>-->
        <div class="form-group">
          <label class="col-lg-2 control-label">上传指纹</label>
          <div class="col-lg-3">
            <button type="button" class="btn" id="button">上传指纹</button>
            <img src="images/fingerprint.png" class="img-circle" id="print" style="width: 100px;">
          </div>
        </div>

        <div class="form-group" style="margin-right: 300px;">
          <div class="col-lg-2 col-lg-offset-2">
            <button type="button" class="btn-info btn" id="send1">申请</button>
          </div>
          <div class="col-lg-2 col-lg-offset-2">
            <button type="button" class="btn-info btn" id="back1">返回</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="panel-footer"></div>
</div>
</body>

<script type="text/javascript">
  $("#back1").click(function () {
    window.location.href = "user";
  });
  $(document).ready(function () {

    $("#send1").click(function () {
      var data = {};
      data.id_num = $("#fanum1").val();
      var reader = new FileReader();
      var reader1 = new FileReader();
      reader.readAsDataURL($("#babyphoto1").get(0).files[0]);
      reader1.readAsDataURL($("#print1").get(0).files[0]);
      reader.onload = function () {
        data.pic = this.result;
        reader1.onload = function () {
          data.print = this.result;
          $.ajax({
            url: 'idcard_application',
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify(data),
            success: function (data) {


            }
          });
        }

      };
    });
  });
</script>
<script type="text/javascript">
  $("#button").click(function (event) {
    var pnel = document.getElementById("print");
    pnel.style.display = "block";

    event.preventDefault();
  });
</script>
</html>