<!DOCTYPE html>
<html>
<head>
    <title>社会保障局首页</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <script src="javascripts/jquery-1.11.1.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="javascripts/page_switch.js"></script>
    <style>
        .container{
            float: left;
            margin-top: 100px;
            margin-left:60px;
            width: 70%;
            height: auto;
        }
        #mynav{
            margin-top: 70px;
            float: left;
        }
    </style>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
        <!-- 自适应隐藏导航展开按钮 -->
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <!-- 导航条LOGO -->
        <a class="navbar-brand" href="#" style="color:#FFFFFF">社会保障局系统</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        <ul class="nav navbar-nav">
            <li  class="active"><a href="#">首页</a></li>
            <li ><a a href="#">信息公开</a></li>
            <li ><a a href="#">办事服务</a></li>
            <li><a href="#">便民服务</a></li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">更多服务<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">交流互动</a></li>

                </ul>
            </li>
        </ul>
        <form class="navbar-form navbar-right" role="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">查询</button>
        </form>
    </div>
</div>



<!-- 左侧边栏 -->
<div class="col-lg-2 col-sm-2 col-xs-6" id="mynav">
    <ul class="nav nav-pills nav-stacked">

        <li class="active"><a href="#"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;首页</a></li>
        <li class="nav-divider"></li>
        <li><a href="#lead"><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;导航</a></li>
        <li class="nav-divider"></li>
        <li onclick="switch_to_social_query()"><a href="#"><span class="glyphicon glyphicon-tags"></span>&nbsp;&nbsp;审核社保卡申请</a></li>
        <li class="nav-divider"></li>
        <li onclick="switch_to_social_register()"><a href="#"><span class="glyphicon glyphicon-th-large"></span>&nbsp;&nbsp;社保卡信息登记 </a></li>
        <li class="nav-divider"></li>
        <li ><a href="#"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;专题服务  </a></li>
        <li class="nav-divider"></li>
        <li><a href="#" ><span class="glyphicon glyphicon-th"></span>&nbsp;&nbsp;政策解读&nbsp;&nbsp;</a></li>
        <li class="nav-divider"></li>
        <li><a href="#" ><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;新闻速递&nbsp;&nbsp; </a></li>

    </ul>
</div>

<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">操作导航</div>
        <div class="panel-body">

            <h3 class="title">1.审核社保卡申请</h3>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;需提供身份证信息，让工作人员审核是否符合标准</p>
            <h3 class="title">2.社保卡信息登记</h3>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;如果审核通过，由工作人员新增社保信息</p>

        </div>
        <div class="panel-footer"></div>
    </div>
</div>



</body>
</html>