<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登记社保卡信息</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <script src="javascripts/jquery-1.11.1.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <style type="text/css">
        .form-horizontal{
            padding-top: 60px;
        }
        .form-group{
            color: black;
        }
    </style>
</head>
<body>
<form role = "form" class="form-horizontal">
    <!--<table id="table"></table>-->



        <div class = "form-group">
            <label class="col-lg-4 control-label" for = "state">医疗保险类别</label>
            <div class="col-lg-3">
                <input type="text" class="form-control" id = "state"
                       placeholder = ""/>
            </div>
        </div>
        <div class = "form-group">
            <label class="col-lg-4 control-label" for = "state1">报销比例</label>
            <div class="col-lg-3">
                <input type="text" class="form-control" id = "state1"
                       placeholder = ""/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-4 col-lg-offset-5">
                <button type = "button" class="btn-info btn-lg" id="btn_submit">提交</button>
            </div>
        </div>
    </div>
</form>
</body>
</html>