<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>审核社保卡申请</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <script src="javascripts/jquery-1.11.1.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>


    <style type="text/css">

        .navbar-form {
            padding-top: 90px;
        }

        #mypanel {
            padding-left: 400px;
            padding-top: 50px;
            padding-right: 400px;
        }
        #aa{
            padding-left: 560px;
        }
    </style>
</head>
<body>

<div id="mypanel">
    <div class="panel panel-primary">
        <div class="panel-heading">社保信息</div>
        <div class="panel-body">
            <ul>
                <li >照片：<img src="images/boy.jpg" style="width:90px;"></li>
                <li id="r_name">姓名:张三</li>
                <li id="r_id">身份证号码:110105199409026686</li>
                <li id="r_sex">性别:男</li>
                <li >指纹：<img src="images/fingerprint.png" style="width:90px;"></li>
            </ul>
        </div>
        </div>

    </div>
</div>
<!--信息比对-->
<div id="aa">
    <p>照片是否一致：&nbsp;<span class="glyphicon glyphicon-ok"></span></p>
    <p>指纹是否一致：&nbsp;<span class="glyphicon glyphicon-ok"></span></p>

</div>
<form role = "form" class="form-horizontal">
    <div class="form-group">
        <div class="col-lg-4 col-lg-offset-5">
            <button  type = "button" class="btn-info btn" id="btn_submit1">接受登记</button>
            <button  type = "button" class="btn-info btn" id="btn_submit2">拒绝登记</button>
        </div>

    </div>
</form>

</body>
<script type="text/javascript">

    $("#btn_submit2").click(function () {
        window.location.href = "social_securityAdministration";
    });
    $("#btn_submit1").click(function () {
        window.location.href = "print_socialcard";
    });
</script>
</html>