<!DOCTYPE html>
<html>
<head>
	<title>个人信息查询</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <script src="javascripts/jquery-1.11.1.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="javascripts/page_switch.js"></script>
    <style type="text/css">
    #aa{
	position:absolute;
    left:0px;
    top:0px;
    z-index:-1;
    }
    .navbar-form{
    	padding-top: 90px;
    }
    textarea{border-radius:10px;border:1px solid #000;}
    </style>
</head>
<body>
	<img id="aa" src="images\24.jpg" width="100%" height="100%">
<div class="col-lg-7">  
    <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="要查找人的身份证号">
        </div>
        <button type="submit" class="btn btn-default">搜索</button>
    </form>
    
    <textarea  style="margin-left: 370px;" rows="14" cols="70">
    	此处显示查询信息
 	</textarea>
</div>

</body>
</html>