<!DOCTYPE html>
<html>
<head>
    <title>个人信息查询</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <script src="javascripts/jquery-1.11.1.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <!--<script src="javascripts/page_switch.js"></script>-->

    <style type="text/css">

        .navbar-form {
            padding-top: 90px;
        }

        #mypanel {
            padding-left: 400px;
            padding-top: 200px;
            padding-right: 400px;
        }
    </style>
</head>
<body>

<div class="col-lg-7">
    <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="要查找人的身份证号" id="select">
        </div>
        <button type="button" class="btn btn-default" id="select_btn">查询</button>
    </form>

</div>
<!-- 返回用户自己户口信息 -->

<div id="mypanel">
    <div class="panel panel-primary">

        <div class="panel-body">
            <ul>
                <li>用户姓名:张三</li>
                <li>用户身份证号码：1234567</li>
                <li>用户性别：男</li>
                <li>父亲身份证号码：1234567</li>
                <li>母亲身份证号码：1234567</li>
                <li>配偶姓名：李四</li>
                <li>配偶身份证号码：1234567</li>
                <li>孩子ID：6666</li>
                <li>新生儿ID：7777</li>
                <li>新生儿密码：99999</li>

            </ul>
        </div>
        <div><table id="table"></table></div>

        <div class="panel-footer" style="text-align: center;">户口信息</div>
    </div>
</div>

</body>

<script>
    $("#select_btn").click(function () {
        // language=JQuery-CSS
        var data = {};
        data.select_id = $("#select").val();
        if (data.select_id === "") {
            alert("请输入身份证号码");
        } else {
            $.ajax({
                url: '/user_query',
                type: "POST",
                timeout : 10000,
                contentType: "application/json",
                data: JSON.stringify(data),
                success: function (data) {
                    var json = eval("(" + data + ")")
                    alert("身份证号: "+json.id+"\n姓名: "+json.name+"\n性别: "+json.sex);

                }
            });
        }
    });
</script>

</html>