<!DOCTYPE html>
<html>
<head>
    <title>户口信息查询</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <script src="javascripts/jquery-1.11.1.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <!--<script src="javascripts/page_switch.js"></script>-->

    <style type="text/css">

        .navbar-form {
            padding-top: 90px;
        }

        #mypanel {
            padding-left: 400px;
            padding-top: 150px;
            padding-right: 400px;
        }
    </style>
</head>
<body>

<div class="col-lg-7">
    <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="要查找人的身份证号" id="select">
        </div>
        <button type="button" class="btn btn-default btn-info" id="select_btn">查询</button>
    </form>

</div>
<!-- 返回用户自己户口信息 -->

<div id="mypanel">
    <div class="panel panel-primary">
        <div class="panel-heading">户口信息</div>
        <div class="panel-body">
            <ul>
                <li id="r_name">姓名:</li>
                <li id="r_id">身份证号码:</li>
                <li id="r_sex">性别:</li>
                <li >地址:</li>
                <li >手机号:</li>

                <li id="r_fname">父亲姓名：</li>
                <li >父亲身份证号:</li>
                <li id="r_mname">母亲姓名：</li>
                <li >母亲身份证号:</li>
                <li id="r_sname">配偶姓名：</li>
                <li >配偶身份证号:</li>
                <li>孩子姓名：</li>
                <li >孩子身份证号:</li>

            </ul>
        </div>
        </div>

    </div>
</div>
<form role = "form" class="form-horizontal">
    <div class="form-group">
        <div class="col-lg-4 col-lg-offset-5">

            <button type = "button" class="btn-info btn-lg" id="btn_submit2">返回</button>
        </div>
    </div>
</form>
</body>

<script>
    $("#select_btn").click(function () {
        // language=JQuery-CSS
        var data = {};
        data.select_id = $("#select").val();
        if (data.select_id === "") {
            alert("请输入身份证号码");
        } else {
            $.ajax({
                url: '/user_query',
                type: "POST",
                timeout : 10000,
                contentType: "application/json",
                data: JSON.stringify(data),
                success: function (data) {
                    $("#r_name").text('姓名:'+data.姓名);
                    $("#r_id").text('身份证号码:'+data.身份证号);
                    $("#r_sex").text('性别:'+data.性别);
                    $("#r_fname").text('父亲姓名:'+data.父亲姓名);
                    $("#r_mname").text('母亲姓名'+data.母亲姓名);
                    if(data.配偶姓名 === ""){
                        $("#r_sname").text('配偶姓名:'+"未婚");
                    }else{
                        $("#r_sname").text('配偶姓名:'+data.配偶姓名);
                    }

                }
            });
        }
    });
</script>
<script type="text/javascript">

    $("#btn_submit2").click(function () {
        window.location.href = "police_office";
    });
</script>
</html>